* { outline:none !important;}
a:hover { text-decoration:none;}
body { background:#eee;}
header { 
    background: #9C27B0;
    display: inline-block;
    width: 100%;
    color: #fff;
    padding: 5px 0;
	position: fixed;
    z-index: 100;
	top:0;
}
.catebar {
	background: #710684;
    margin-bottom: -5px;
    border-bottom: #651373 solid 2px;
	display:inline-block; width:100%;
}
.input-group-addon input,.input-group-addon button {
    border: none;
    background: none
}
.catebar ul { list-style:none; padding:0;}
.catebar ul li {float:left;}
.catebar ul li a {
    display: block;
    color: #f5bcff;
    padding: 5px 10px;
    text-transform: uppercase;
}
.noti-icon a {
color: #fff;
    font-size: 14px;
    padding: 7px;
    display: inline-block;
    float: inherit;
}.topbtn {
      padding: 9px 18px 14px 19px;
    position: fixed;
    background: #fff;
    right: 15px;
    color: #710684;
    bottom: 18px;
    border-radius: 61px;
    box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.11);
    z-index: 1000;
}
.topbtn i {
    font-size: 35px;
}
.content { min-height:450px;margin-top: 90px;}
.box { background:#fff; padding:10px; border:#ddd solid 1px; margin-bottom:20px;}
.shadow { box-shadow:2px 4px 5px 0px rgba(0, 0, 0, 0.1);border-radius: 3px;}
.postblock a { color:#000;}
.foot {
    background: #fafafa;
    border-top: #eee solid 1px;
    margin: -10px;
    margin-top: 10px;
    padding: 10px;
}
.profile-pic {
	background: #ccc;
    /*border: #ddd solid 1px;*/
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -10px;
    margin-bottom: -10px;
    background-size: 100% 100% !important;
}
.action-btn a {
	padding: 6px;
    color: #313131;
}
.action-btn a:hover { color:#000;}
.list-item a {
display: block;
    padding: 5px;
    color: #444;
}

.list-item a:hover { color:#000;}
footer {
  text-align: left;
    color: #eee;
    font-size: 12px;
    padding: 20px 0;
    margin-top: 20px;
    border-top: #ddd solid 1px;
    background: #710684;
}
.comment {
    border-top: #eee solid 1px;
    padding: 10px;
}
.comment p {
margin-left: 35px;
    color: #8c8787;
}
#share { display:none;}
#share a i {
    font-size: 20px;
    padding: 5px;
    width: 35px;
    color: #fff;
    opacity: .7;
    text-align: center;
}
#share a:hover i { opacity: 1;}
.fa-facebook {background:#2f609c;}
.fa-google-plus {background:#d24231;}
.fa-twitter {background:#55acee;}
.fa-linkedin {background:#0074a1;}
.fa-pinterest {background:#be1a19;}
.fa-envelope {background:#089e00;}
.cover-photo {
background: #1d0421;
    min-height: 200px;
    margin: -8px;
	padding: 20px;
}
.profile-photo {
    width: 200px;
    height: 200px;
    border: #fff solid 3px;
    background-size: cover !important;
    border-radius: 3px;
}
.label-name {color: #fff;
    margin-left: 219px;
    margin-top: -50px;
    margin-bottom: -9px;
}
.strip a {
font-size: 15px;
    padding: 4px 15px;
    font-weight: normal;
    color: #555;
    border-right: #ddd solid 1px;
    display: inline-block;
    text-align: center;
    margin: -5px 0;
}
.pullbar { 
	display:none;
	cursor: pointer;
    background: #9c27b0;
    color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-left-color: #c25ad4;
    border-right-color: #c25ad4;
    border-top-color: #e394f1;
    border-bottom-color: #710684
}
.max-device { display:block;}
.min-device { display:none;}
.min-device i {padding: 0 15px;
    cursor: pointer;
    color: #41034c;
    text-shadow: 1px 1px #b637cc;
}
.searchbar {    padding: 10px;
	display:none;
    background: #841c96;
}
.dropdown-content {
    display: none;
    position: inherit;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}
.logo {}
.box img{ height:auto !Important;}
@media(max-width:768px){
.content {
    margin-top: 63px;
}
header {
    border-bottom: #200025 solid 1px;
}
.max-device { display:none;}
.min-device { display:block;}
.catebar { display:none;}
.catebar ul li {
    float: none;
}
.col-left{ display:none; }
.col-right{ display:none;    border: none;
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    padding: 0;
    height: 100%;
    width: 300px;
    overflow: auto;}
.pullbar { display:block;}
.profile-photo {float:left;   width: 100px;
    height: 100px;
}
.label-name {
   margin-left: 110px;
    margin-top: 0;
    margin-bottom: -9px;
}
.strip a {
    margin: 0 0;
}
.cover-photo {
    min-height: auto;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
	max-width:100%;
	
}

.td-th {
    border: 5px solid #dddddd;
    text-align: left;
    padding: 10px;
	max-width:100%;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 10px !important;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.img {
    border-radius: 8px;
	max-width:100%;
}
.table_data{
		margin:0px;
		padding:0px;	 
		width:100% !important; 
	}
	.table_data td, th{
		border:none !important;
		
	}
	.dropdown-menu{
		position:relative !important;
		float:none !important;
		width: 157px !important;
		
	}
	.navi {
	width: 500px;
	margin: 5px;
	padding:2px 5px;
	border:1px solid #eee;
	}

	.show {
	color: purple;
	margin: 5px 0;
	padding: 3px 5px;
	cursor: pointer;
	font: 15px/19px Arial,Helvetica,sans-serif;
	}
	.show a {
	text-decoration: none;
	}
	.show:hover {
	text-decoration: underline;
	}


	ul.setPaginate li.setPage{
	padding:15px 10px;
	font-size:14px;
	}

	ul.setPaginate{
	margin:0px;
	padding:0px;
	height:100%;
	overflow:hidden;
	font:12px 'Tahoma';
	list-style-type:none;	
	}  

	ul.setPaginate li.dot{padding: 3px 0;}

	ul.setPaginate li{
	float:left;
	margin:0px;
	padding:0px;
	margin-left:5px;
	}



	ul.setPaginate li a
	{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #cccccc;
	color: purple;
	display: inline-block;
	font: 15px/25px Arial,Helvetica,sans-serif;
	margin: 5px 3px 0 0;
	padding: 0 5px;
	text-align: center;
	text-decoration: none;
	}	

	ul.setPaginate li a:hover,
	ul.setPaginate li a.current_page
	{
	background: none repeat scroll 0 0 #0d92e1;
	border: 1px solid #000000;
	color: #ffffff;
	text-decoration: none;
	}

	ul.setPaginate li a{
	color:black;
	display:block;
	text-decoration:none;
	padding:5px 8px;
	text-decoration: none;
	}
}